.home-content {
    height: 1100px;
}


.title-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    left: 750px;
    bottom: 1000px;
    font-size: 40px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    width: 600px;
    height: 300px;
    background-color: #c5a7ec;
    border: 1px solid #c5a7ec;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}


i {
    font-size: 20px;
}


button {
    color: purple;
    background-color: white;
    padding: 10px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
}



button:hover {
    color: white;
    background-color: purple;
    border: 2px solid purple;
    box-shadow: 0 4px 10px rgba(0, 0, 0.5, 0.5);
    
}



.octopus {
    position: relative;
    right: 200px;
    bottom: 70px;
    height: 1100px;
    margin-left: 30px;
    /* object-fit: scale-down;
    overflow: hidden; */
    /* border: 1px solid black; */
}



.base-content { 
    position: relative;
    left: 23%;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    width: 800px;
    height: 300px;
    background-color: #c5a7ec;
    border: 1px solid #c5a7ec;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.polygon {
    width: 100px;
    margin: 30px;
}



