
.title-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    left: 750px;
    bottom: 750px;
    font-size: 40px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    width: 600px;
    background-color: #c5a7ec;
    border: 1px solid #c5a7ec;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


i {
    font-size: 20px;
}


button {
    color: purple;
    background-color: white;
    padding: 10px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: purple;
    border: 2px solid purple;
    box-shadow: 0 4px 10px rgba(0, 0, 0.5, 0.5);
    
}



.octopus {
    position: relative;
    bottom: 100px;
    right: 300px;
    height: 850px;
    width: 100%; 
    object-fit: scale-down;
    overflow: hidden;
    /* margin: -70px 0px 0px - 200px; */
    /* border: 1px solid black; */
}




.base-content {
    position: relative;
    bottom: 450px;
    left: 330px;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    width: 800px;
    height: 300px;
    background-color: #c5a7ec;
    border: 1px solid #c5a7ec;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.polygon {
    width: 100px;
    margin: 30px;
}



