*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* 
Google fonts:
font-family: 'Roboto Mono', monospace; bold 700 and 400 for h1's
font-family: 'Noto Sans Mono', monospace; 
font-family: 'Fredoka One', cursive;
*/

h1 {
  font-family:'Roboto Mono', monospace;
  /* font-family: 'Noto Sans Mono', monospace; */
}

h2, h3{
  /* font-family:'Roboto Mono', monospace; */
  font-family: 'Noto Sans Mono', monospace;
}

p{
  font-family: 'Noto Sans Mono', monospace;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 10vw;
}

.vh60{
  height: 60vh;
}


body {
  background: rgb(244, 237, 255);
  background: #dee8ff;
  width: 100vw;
  overflow-x: hidden;
/* background: linear-gradient(129deg, rgba(48,61,91,1) 0%, rgba(60,43,83,1) 100%); */
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
}

.navbar ul {
  list-style-type: none;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar div li {
  padding: 20px; 
}

.navbar div li h1:hover {
  text-shadow: 2px 2px #b27afc;
  transform: scale(1.05);
}



.logo{
  width: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.active {
  color: #F0A9F8;
}

.pools-container{
  display: flex;
  overflow: scroll;
}

.connect-btn {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 150px;
  height: 40px;
  background: wheat;
  border: none; 
  margin-bottom: 17px;
  margin-right: 20px;
}

.connected-symbol {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  background: greenyellow;
}

.polygon-symbol {
  width: 20px;
}

.swap-page-wrapper {
  display: flex;
  justify-content: space-between;
}

/* .swap-modal-wrapper {
  display: flex;
  justify-content: space-between;
} */

.swap-modal{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 500px;
  margin-right: 60px;
  margin-top: 40px;
  padding: 10px;
  background: #c5a7ec;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  color: black;
}

.swap-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  background: rgba(255, 255, 255, 0.05);
  height: 80px;
  border-radius: 16px;
}

.swap-box input {
  background: none;
  border: none;
  font-size: 1rem;
  position: relative;
  left: 15%;
  
}

.token{
  border-radius: 16px;
  display: flex;
  width: 1200px;
  padding: 5px;
  margin: 5px;
  height: 30px;
}

.token:hover {
  background: rgb(228, 228, 228);
}

.token-dropdown {
  width: 80px;
  height: 60px;
  border-radius: 16px;
  /* background: red; */
  box-shadow: 4px 4px 10px #24242454;
  margin-left: 80px;
  text-align: center;
  cursor: pointer;
}



.token-nodes{
  height: 80%;
  overflow: scroll;
  background: rgb(222, 232, 255);
  color: black;
}

.modal-exit {
  margin-right: 20px;
  width: 45px;
}

.modal-search {
  border: #F0A9F8;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  font-size: 16px;
  color: purple;
  padding-left: 5px;
}

.token-swap{
  margin-right: 50px;

}

.swapIMG{
  height: 20px;
  width: 20px;
}

.MuiBox-root.css-kbsmes{
  background:rgb(222, 232, 255);
  border-radius: 2rem;
}


#modal-modal-title{
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.token-button{
  background: #F0A9F8;
  color: black;
  width: 35px;
  height: 35px;
  border-radius: 1rem;
  border: 1px;
  border-color: black;
  cursor: pointer;
  margin: 0;
}

.token-input{
  color: black;
}


.pool-balance{
  display: flex;
  justify-content: center;
}

.pool-spline{
  width: 60vw;
  height: 60vh;
  position: absolute;
  z-index: -100;
}


.card-bg{
  position: absolute;
  height: 100%;
  width: 100%;
}

.lotto-card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  min-width: 240px;
  min-height: 260px;
  padding: 0 10px ;
  margin: 10px;
}

.forsted-bg{
  /* From https://css.glass */
width: 100vw;
height:40vh;
background: rgba(255, 255, 255, 0.01);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
transform: rotate(10deg);
}


.life-buoy {
  /* width: 130px; */
  /* height: 100px; */
  position: absolute;
  width: 80%;
  margin-right: 6px;
  opacity: 0.3;
}

.polygon:hover{
  transform: scale(1.2);
}


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #c5a7ec85;
  color: black;
  padding: 10px 0px;
  padding-bottom: 20px;
  margin-top: 30px;
  font-weight: 100;
} 

.footer-flex {
  display: flex;
}


.footer-item {
  margin-left: 17px;
  margin-top: 20px;
  margin-right: 17px;
  padding: 10px;
  background-image: linear-gradient(to bottom, #c5a7ec, white);
  width: 250px;
  border-radius: 5px;
}


.footer-title {
  display: flex;
}


.footer ul li {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}


.footer ul li a{
  text-decoration: none;
  color: black;
}


.footer ul li:hover{
  text-shadow: 2px 2px #b27afc;
}


.rjelly {
  display: flex;
  justify-content: space-between;
}

.coin {
  position: relative;
  bottom: 5px;
}

.email-input {
  border: #F0A9F8;
  border-radius: 10px;
  height: 20px;
  width: 200px;
  font-size: 16px;
  color: purple;
  padding-left: 5px;
  margin-bottom: 5px;

}



.Token-Logo{
  height: 300px;
  width: 300px;
  padding-top: 50px;
  margin-bottom: 30px;
}

.total-supply{
  text-align: center;
  margin-bottom: 30px;
}

.token-info{
  margin-top: 20px;
}



